:root{
    color-scheme: dark;
    --bg: #07060f;
    --pg: #d5cbb0;
}

body{
    margin: 0;
    background:radial-gradient(ellipse at 50% 40%,#1c1740 0%,#0b0918 48%,var(--bg) 82%) fixed;
}
main{
    display: grid;
    justify-content: center;
}
#pesquisa{
    width: min(600px,92vw);
    background: none;
    border: 0;
    border-bottom: 1px solid;
    text-align: center;
    padding: 8px;
    outline: none;
    margin: 10px;
}
.livro{
    position: relative;
    width: min(90vw, 760px);
    aspect-ratio: 2 / 1.42;
}
.pagina{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 6% 5% 10%;
    background: var(--pg);
    color: #2a2119;
}
.pagina-esquerda{
    left: 0;
    background: linear-gradient(to left, #0003, transparent 18%), var(--pg);
    border-radius: 8px 0 0 8px;
}
.pagina-direita{
    left: 50%;
    background: linear-gradient(to right, #0003, transparent 18%), var(--pg);
    border-radius: 0 8px 8px 0;

}
.folha{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
    pointer-events: none;
    transform-style: preserve-3d;
}
.face{
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    padding: 12% 10% 20%;
    background: var(--pg);
    color: #2a2119;
    backface-visibility: hidden;
    background: linear-gradient(to right, #0003, transparent 18%), var(--pg);
    border-radius: 0 8px 8px 0;
}
.verso{
    transform: rotateY(180deg);
    background: linear-gradient(to left, #0003, transparent 18%), var(--pg);
    border-radius: 8px 0 0 8px;
}
.folha.vai-adiante{
    left: 50%;
    transform-origin: left center;
}
.folha.vai-atras{
    left: 0;
    transform-origin: right center;
}
.comp{
    perspective: 1800px;
}
.livro{
    transform-style: preserve-3d;
    transform: translateX(-25%);
    transition: transform 1400ms ease-in-out;
}
.capa{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: 20;
    transform-origin: left center;
    transform-style: preserve-3d;
    transform: translateZ(4px);
    pointer-events: none;
}
.capa-frente, .capa-verso{
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
}
.capa-frente{
    display: grid;
    place-items: center;
    padding: 10%;
    background: #211936;
    color: #e3c888;
    border-radius: 0 8px 8px 0;
    text-align: center;
}
.capa-frente h1{
    margin: 0;
    font-size: clamp(1rem, 3vw, 2rem);
}
.capa-verso{
    background: var(--pg);
    transform: rotateY(180deg);
    border-radius: 8px 0 0 8px;
    background: linear-gradient(to left, #0003, transparent 18%), var(--pg);
}
.livro.fechado > .pagina{
    visibility: hidden;
}
.livro.aberto > .capa{
    visibility: hidden;
}
.livro:not(.aberto) > .pagina-esquerda{
    visibility: hidden;
}
.livro:not(.fechado){
    transform: translateX(0);
}
